*
!*/

!KuluSecurityQuickStart/.settings/**
!KuluSecurityQuickStart/src/**
!KuluSecurityQuickStart/pom.xml

!KuluTokenDemo/.settings/**
!KuluTokenDemo/src/**
!KuluTokenDemo/pom.xml

!Maxe_InStock_01_web/.settings/**
!Maxe_InStock_01_web/src/**
!Maxe_InStock_01_web/pom.xml

!Maxe_Salse_01_static/.settings/**
!Maxe_Salse_01_static/src/**
!Maxe_Salse_01_static/pom.xml

!Maxe_Salse_01_web/.settings/**
!Maxe_Salse_01_web/src/**
!Maxe_Salse_01_web/pom.xml

!MyBatisConnDB/.settings/**
!MyBatisConnDB/src/**
!MyBatisConnDB/pom.xml

!/.gitignore
/.metadata/
