*
!*/

!KuluSecurityQuickStart/.settings/**
!KuluSecurityQuickStart/src/**
!KuluSecurityQuickStart/pom.xml

!KuluTokenDemo/.settings/**
!KuluTokenDemo/src/**
!KuluTokenDemo/pom.xml

!/.gitignore
/.metadata/
